<body style="margin: 0; padding: 0;">

	<div style="padding: 10px;" width:500px;>
		<table align="center" border="0" cellpadding="10" cellspacing="0" width="600" style="border-collapse: collapse; ">
			<tr style="text-align:center">
				<td style="color : #555;">Please Click the below button to set your password</tr>
			</tr>
			<tr style="text-align:center">
				<td>
					<a href="http://dash.mantralabsglobal.com//#/resetpassword/{{hashKey}}">
						<button style="outline : none; width: 100px; padding : 5px; color:#fff; background-color: #444; border-radius: 5px; box-shadow : none; border : none;">Set Password</button>
					</a>
				</td>
			</tr>
		</table>
	</div>

</body>